{% extends "base.html" %}

{% block content %}
  <h1>Car info</h1>
  <div>Manufacturer: {{ car.manufacturer.name }}, {{ car.manufacturer.country }}</div>
  <div>Drivers:
    <ul>
      {% for driver in car.drivers.all %}
        <li>
          <a href="{% url "taxi:driver-detail" driver.id %}">
            {{ driver.first_name }} {{ driver.last_name }}
          </a>
        </li>
      {% empty %}
        <div>NO DRIVER</div>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
